* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#duckWrapper {
  width: 100vmin;
}
